{% extends "../base.html" %}

{% block title %}Форма А.1{% endblock %}

{% block title_form %}<p><b>Форма А.1</b> - Технические характеристики машин для подготовки семян</p>{% endblock  %}

{% block tabl %}
    <table class="tabl_a2">
        <thead>
            <tr>
                <th>Наименование показателя</th>
                <th>Значение показателя</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Марка</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Тип</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Привод</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Потребляемая мощность, кВТ</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Рабочая скорость, км/ч</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Производительность, т/ч</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Время обработки, мин</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Число обслуживающего персонала, чел.</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Габаритные размеры машины в рабочем положении, мм:<br>
                    - Длина
                </td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Ширина</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Высота</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Масса машины, кг</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Вместимость ёмкости, л: <br>
                    - Приёмного бункера
                </td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td> - для рабочей жидкости (дозатора порошка)</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Смесительной камеры</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Дорожный просвет*, мм</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Минимальный радиус поворота*, м</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Ширина колеи* мм</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Пределы регулирования рабочих органов: <br>
                    - подача рабочей жидкости, л/мин
                </td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Подача зерна, т/ч</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Трудоёмкость составления агрегата, чел. ч</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Трудоёмкость перевода машины из транспортного в рабочее положение, чел. ч</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Трудоёмкость перевода машины из рабочего в транспортное положение, чел. -ч</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Насос:<br>
                    - Марка
                </td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Тип</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Перемешивающее устройство, тип</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Число передач, шт.:<br>
                    - Ременных
                </td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Цепных</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Карданных</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Редукторов</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Число точек смазки, шт., всего</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>В том числе:<br>
                    - Ежесменных
                </td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td> - Переодических</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>- Сезонных</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Устройство для загрузки семян</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Устройство для выгрузки обработанных семян</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Другие показатели по отдельным узлам и рабочим органам</td>
                <td><input type="text" class="i_4" size="15"></td>
            </tr>
            
        </tbody>
    </table>
{% endblock %}