{% extends "../base.html" %}

{% block title %}Форма Б.7{% endblock %}

{% block title_form %}<p><b>Форма Б.7</b> - Ведомость определения потерь в процессе упаковывания</p>{% endblock  %}

{% block tabl_header %}
<table class="tabl_1">
    <tr>
        <td><label for="marka" class="mod_traktor">Марка машины:</label></td>
        <td><input type="text" id="marka" class="i_1" name="marka" size="50"></td>
    </tr>
    <tr>    
        <td><label for="mesto" class="mod_traktor">Место испытаний:</label></td>
        <td><input type="text" id="mesto" class="i_2" name="mesto" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor">Дата испытаний:</label></td>
        <td><input type="text" id="data" class="i_3" name="data" size="15"></td>
    </tr> 
    <tr>
        <td><label for="izmereniya" class="mod_traktor">Средства измерений:</label></td>
        <td><input type="text" id="izmereniya" class="i_4" name="izmereniya" size="35"></td>
    </tr>       
</table>
{% endblock %}

{% block tabl %}
    <table class="tabl_b2">
        <thead>
            <tr>
                <th>Наименование показателя</th>
                <th>Значение показателя</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Дата</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Место испытаний</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Состав агрегата</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Вспомогательный агрегат</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Технологическая операция</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            <tr>
                <td>Характеристика мест упаковки</td>
                <td><input type="number" class="i_4" size="15"></td>
            </tr>
            
        </tbody>
    </table>
{% endblock %}