{% extends "../base.html" %}

{% block title %}Форма Б.2{% endblock %}
{% block title_form %}<p><b>Форма Б.2</b> - Ведомость определения характеристики рулонов</p>{% endblock  %}

{% block tabl_header %}
<table class="tabl_1">
    <tr>
        <td><label for="marka" class="mod_traktor">Марка машины:</label></td>
        <td><input type="text" id="marka" class="i_1" name="marka" size="50"></td>
    </tr>
    <tr>    
        <td><label for="mesto" class="mod_traktor">Место испытаний:</label></td>
        <td><input type="text" id="mesto" class="i_2" name="mesto" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor">Дата испытаний:</label></td>
        <td><input type="text" id="data" class="i_3" name="data" size="15"></td>
    </tr> 
    <tr>
        <td><label for="izmereniya" class="mod_traktor">Средства измерений:</label></td>
        <td><input type="text" id="izmereniya" class="i_4" name="izmereniya" size="35"></td>
    </tr>       
</table>
{% endblock %}

{% block tabl %}
    <table class="tabl_1">
        <thead>
            <tr>
                <th>Измерение</th>
                <th>Высота<br>(Ширина),<br>мм</th>
                <th>Диаметр, мм</th>
                <th>Объём<br>рулона, мм</th>
                <th>Масса, кг</th>
                <th>Плотность<br>массы в <br>рулоне, кг/м<sup>3</sup></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}
