{% extends "../base.html" %}

{% block title %}Форма Б.2{% endblock %}
{% block title_form %}
<button type="button" class="primer1_b1" name="primer">Пример заполнения</button>
<button type="button" class="reset" name="res">Очистить поля</button>
<p><b>Форма Б.2</b> - Ведомость определения характеристики рулонов</p>
{% endblock  %}

{% block tabl_header %}
<table class="tabl_1">
    <tr>
        <td><label for="marka" class="mod_traktor">Марка машины:</label></td>
        <td><input type="text" id="marka" class="i_1" name="marka" size="50"></td>
    </tr>
    <tr>    
        <td><label for="mesto" class="mod_traktor">Место испытаний:</label></td>
        <td><input type="text" id="mesto" class="i_2" name="mesto" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor">Дата испытаний:</label></td>
        <td><input type="text" id="data" class="i_3" name="data" size="15"></td>
    </tr> 
    <tr>
        <td><label for="izmereniya" class="mod_traktor">Средства измерений:</label></td>
        <td><input type="text" id="izmereniya" class="i_4" name="izmereniya" size="35"></td>
    </tr>       
</table>
{% endblock %}

{% block tabl %}
    <table class="tabl_b2">
        <thead>
            <tr>
                <th>Измерение</th>
                <th>Высота<br>(Ширина),<br>мм</th>
                <th>Диаметр, мм</th>
                <th>Объём<br>рулона, мм</th>
                <th>Масса, кг</th>
                <th>Плотность<br>массы в <br>рулоне, кг/м<sup>3</sup></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>4</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>5</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>6</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>7</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>8</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>9</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>10</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>Сумма</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
            <tr>
                <td>Средне-<br>арифмети-<br>ческое<br>значение</td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
                <td><input type="number" class="i_4" size="10"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="butt">
        <button type="button" class="raschet_b1">Расчёт</button>
        <button type="button" class="bd_b1">Сохранить в БД</button>
        <button type="button" class="print1_b1">Печать</button>
    </div>
    <script src="../../static/js/b2.js"></script>
{% endblock %}
