{% extends "../base.html" %}

{% block title %}Форма Б.8{% endblock %}

{% block title_form %}
<button type="button" class="primer1_b1" name="primer">Пример заполнения</button>
<button type="button" class="reset" name="res">Очистить поля</button>
<p><b>Форма Б.1</b> - Ведомость определения ростковости семян сахарной свеклы и количества драже без семян</p>
{% endblock  %}

{% block tabl_header %}
<table class="tabl_1">
    <tr>
        <td><label for="marka" class="mod_traktor">Марка машины:</label></td>
        <td><input type="text" id="marka" class="i_1" name="marka" size="50"></td>
    </tr>
    <tr>    
        <td><label for="mesto" class="mod_traktor">Место испытаний:</label></td>
        <td><input type="text" id="mesto" class="i_2" name="mesto" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor">Дата испытаний:</label></td>
        <td><input type="text" id="data" class="i_3" name="data" size="15"></td>
    </tr> 
    <tr>
        <td><label for="kultura" class="mod_traktor">Культура, сорт:</label></td>
        <td><input type="text" id="kultura" class="i_3_1" name="kultura" size="35"></td>
    </tr>
    <tr>
        <td><label for="vid" class="mod_traktor">Вид анализа (исходный или<br> после обработки машиной):</label></td>
        <td><input type="text" id="vid" class="i_3_2" name="vid" size="35"></td>
    </tr> 
    <tr>
        <td><label for="sredstva" class="mod_traktor">Средства измерений:</label></td>
        <td><input type="text" id="sredstva" class="i_3_3" name="sredstva" size="35"></td>
    </tr>            
</table>
{% endblock %}


{% block tabl %}
<br>
    <table class="tabl_b8">
        <thead>
            <tr>
                <th rowspan="3">Повтор-<br>ность</th>
                <th rowspan="3">Высеяно<br> клубочков<br> всего,<br> шт.</th>
                <th colspan="6">Проросло клубочков, шт</th>
                <th rowspan="3">Всего<br> ростков,<br> шт.</th>
                <th rowspan="3">Число<br> драже<br> без семян<br> шт.</th>
            </tr>
            <tr>
                <th rowspan="2">Всего</th>
                <th colspan="5">Из них с числом ростков</th>
            </tr>
            <tr>
               <th>1</th>
               <th>2</th>
               <th>3</th>
               <th>4</th>
               <th>5 и <br>более</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
            </tr>
            <tr>
                <th>2</th>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
            </tr>
            <tr>
                <th>3</th>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
            </tr>
            <tr>
                <th>4</th>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Сумма</th>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
            </tr>
            <tr>
                <th>Среднеарифмитическое значение</th>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
            </tr>
            <tr>
                <th>Ростковость, %</th>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
                <td><input type="number" class="i_4" size="7"></td>
            </tr>
            <tr>
                <th>Количественная доля драже без семян, %</th>
                <td colspan="8"></td>
                <td><input type="number" class="i_4" size="7"></td>
            </tr>
        </tfoot>
    </table>
    <br>
    <div class="butt">
        <button type="button" class="raschet_b1">Расчёт</button>
        <button type="button" class="bd_b1">Сохранить в БД</button>
        <button type="button" class="print1_b1">Печать</button>
    </div>

{% endblock %}
