{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'vedomost/style.css' %}">
        <!-- <script type="text/javascript" src="{% static 'b1.js' %}"></script> -->
    </head>
    <body>
       <div class="main-container">
            <header class="header-container">
                <img src="{% static 'img/logo.png' %}" class="logo" alt="logo">
                <h2 class="header-title">Новокубанский филиал ФГБНУ "Росинформагротех"<br>КубНИИТиМ</h2>
                <p class="header-prog-name"><b>Программа:</b> к СТО АИСТ 23.9-2021.<br> Упаковщики рулонов сенажа<br> и зелёных кормов в плёнку</p>
            </header>
            <div class="lin-orange"></div>
            <nav class="nav">
                 <p class="name-nav"><b>Формы: </b></p>
                <ul>
                    <li><a href="{% url 'b1' %}">Б.1</a></li>
                    <li><a href="{% url 'b2' %}">Б.2</a></li>
                    <li><a href="{% url 'b3' %}">Б.3</a></li>
                    <li><a href="{% url 'b4' %}">Б.4</a></li>
                    <li><a href="{% url 'b5' %}">Б.5</a></li>
                    <li><a href="{% url 'b6' %}">Б.6</a></li>
                    <li><a href="{% url 'b7' %}">Б.7</a></li>
                    <li><a href="{% url 'a2' %}">А.2</a></li>
                    <li><a href="{% url 'a3' %}">А.3</a></li>
                </ul>
            </nav>
            <hr>
            <section class="fon">
                <section class="opisanie">
                    {% block title_form %}{% endblock %}
                    {% block tabl_header %}{% endblock %}
                </section>
                <section class="tabl">
                    {% block tabl %}{% endblock %}
                </section>
                <section class="podpis">
                    <table class=podp>
                        <tr>
                            <td>Исполнитель</td> <td>________________</td>
                            <td>&nbsp;&nbsp;&nbsp;________________</td>
                            <td>&nbsp;&nbsp;&nbsp;________________</td>
                        </tr>
                        <tr class="text-bot">
                            <td> </td>
                            <td class="text-bot">должность</td>
                            <td class="text-bot">личная подпись</td>
                            <td class="text-bot">инициалы, фамилия</td>
                        </tr>
                    </table>
                </section>
            </section>
            <footer class="fot">
                <p class="text-footer">&copy; КубНИИТиМ<br>2023г.</p>
                <p class="text-footer">352243,Краснодарский край, г. Новокубанск, ул.Красная,15 <br>
                    Тел (86195)3-61-59 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Факс(86195)3-66-05 <br>
                    <u>E-mail: director@kubniitim.ru</u>
                </p>
                <img src="{% static 'img/favicon.ico' %}" alt="footer">
            </footer>
       </div>
    </body>
</html>